{% extends 'templates/master.html' %}

{% block content %}
<div class="container mt-4">
    <section id="jobs" class="mt-4">
        <h2>Delete Job</h2>
        <p>Select the job you want to delete, you will be able to confirm details on the next page</p>
        <form id="jobSelectForm" action="/deletejob" method="post">
            <div class="form-group">
                <label for="job">Job</label>
                <select id="jobSelect" name="job" class="form-control" required>
                    {% for job in jobs %}
                        <option id="{{job.jobID}}" value="{{ job.jobID }}">{{ job.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button id="deleteRequestSubmit" type="submit" class="btn btn-danger">Continue</a>
            </div>
        </form>
    </section>
</div>
{% endblock %}
