{% extends 'templates/master.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h2>View All Kainos Jobs</h2>
        {% if role == "Admin" %}
        <a href="/add-job" class="btn btn-primary kainos-btn" id="addJobButton">Create New Role</a>
        {% endif %}
        {% if jobs and jobs.length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Job</th>
                    <th scope="col">Description</th>
                    <th scope="col">Capability</th>
                    <th scope="col">Band</th>
                    <th scope="col">Responsibilities</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                     <td><a href="{{ job.jobURL }}" id="viewSharePointButton_{{ job.jobID }}">{{ job.title }}</a></td>
                     <td>{{ job.jobSpec }}</td>
                     <td>{{ job.capability }}</td>
                     <td>{{ job.jobBand }}</td>
                     <td>
                        <a href="/job-spec/{{job.jobID}}" class="btn btn-primary btn-lg kainos-btn" role="button" id="viewJobSpecButton_{{ job.jobID }}">
                          See Responsibilities
                        </a>
                      </td>                
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        There are no Jobs to show...
        {% endif %}
        {% endblock %}
